* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  background: #481eee;
}

.split-button {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 8px;
}

button {
  display: flex;
  align-items: center;
  height: 100%;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: #f9f9f9;
  font-size: 16px;
  font-family: "Euclid Circular A";
}

.split-button > button:nth-child(1) {
  padding: 0 24px;
}

.split-button > button:nth-child(2) {
  width: 60px;
  background: rgba(0, 0, 0, 0.18);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.menu {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 68px;
  z-index: 1;
  width: 100%;
  translate: -30px 0;
  opacity: 0;
  visibility: hidden;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.45);
  transition: 0.4s;
}

.menu.open {
  translate: 0 0;
  opacity: 1;
  visibility: visible;
}

.menu > button {
  gap: 10px;
  border: 0;
  border-radius: 0;
  width: 100%;
  height: 56px;
  padding: 0 18px;
}

.menu > button:hover {
  background: rgba(0, 0, 0, 0.26);
}

.chevron {
  margin: auto;
}
